<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Product">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="release_date" jdbcType="BIGINT" property="releaseDate" />
    <result column="developer" jdbcType="VARCHAR" property="developer" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="is_single_player" jdbcType="BIT" property="isSinglePlayer" />
    <result column="is_multi_player" jdbcType="BIT" property="isMultiPlayer" />
    <result column="is_cloud_save" jdbcType="BIT" property="isCloudSave" />
    <result column="supported_languages" jdbcType="VARCHAR" property="supportedLanguages" />
    <result column="card_img" jdbcType="VARCHAR" property="cardImg" />
    <result column="logo_img" jdbcType="VARCHAR" property="logoImg" />
    <result column="img_0" jdbcType="VARCHAR" property="img0" />
    <result column="img_1" jdbcType="VARCHAR" property="img1" />
    <result column="img_2" jdbcType="VARCHAR" property="img2" />
    <result column="img_3" jdbcType="VARCHAR" property="img3" />
  </resultMap>
  <insert id="insert" parameterType="com.pojo.Product">
    insert into sb_product (id, `name`, description, 
      price, release_date, developer, 
      publisher, is_single_player, is_multi_player, 
      is_cloud_save, supported_languages, card_img, 
      logo_img, img_0, img_1, 
      img_2, img_3)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{releaseDate,jdbcType=BIGINT}, #{developer,jdbcType=VARCHAR}, 
      #{publisher,jdbcType=VARCHAR}, #{isSinglePlayer,jdbcType=BIT}, #{isMultiPlayer,jdbcType=BIT}, 
      #{isCloudSave,jdbcType=BIT}, #{supportedLanguages,jdbcType=VARCHAR}, #{cardImg,jdbcType=VARCHAR}, 
      #{logoImg,jdbcType=VARCHAR}, #{img0,jdbcType=VARCHAR}, #{img1,jdbcType=VARCHAR}, 
      #{img2,jdbcType=VARCHAR}, #{img3,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `name`, description, price, release_date, developer, publisher, is_single_player, 
    is_multi_player, is_cloud_save, supported_languages, card_img, logo_img, img_0, img_1, 
    img_2, img_3
    from sb_product
  </select>
</mapper>