<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ProductMapper">
    <resultMap id="BaseResultMap" type="com.dto.ProductDetailDTO">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="release_date" jdbcType="BIGINT" property="release_date" />
        <result column="developer" jdbcType="VARCHAR" property="developer" />
        <result column="publisher" jdbcType="VARCHAR" property="publisher" />
        <result column="is_single_player" jdbcType="BIT" property="is_single_player" />
        <result column="is_multi_player" jdbcType="BIT" property="is_multi_player" />
        <result column="is_cloud_save" jdbcType="BIT" property="is_cloud_save" />
        <result column="supported_languages" jdbcType="VARCHAR" property="supported_languages" />
        <result column="card_img" jdbcType="VARCHAR" property="card_img" />
        <result column="logo_img" jdbcType="VARCHAR" property="logo_img" />
        <result column="img_0" jdbcType="VARCHAR" property="img_0" />
        <result column="img_1" jdbcType="VARCHAR" property="img_1" />
        <result column="img_2" jdbcType="VARCHAR" property="img_2" />
        <result column="img_3" jdbcType="VARCHAR" property="img_3" />
        <collection property="spec" ofType="com.pojo.ProductSpecification">
            <result column="os_id" jdbcType="INTEGER" property="os_id" />
            <result column="os" jdbcType="VARCHAR" property="os" />
            <result column="cpu" jdbcType="VARCHAR" property="cpu" />
            <result column="gpu" jdbcType="VARCHAR" property="gpu" />
            <result column="ram" jdbcType="VARCHAR" property="ram" />
        </collection>
    </resultMap>
    <select id="selectProductDetailById" resultMap="BaseResultMap">
        SELECT id,`name`,`description`,price,release_date,
            developer,publisher,is_single_player,is_multi_player,is_cloud_save,
            supported_languages,logo_img,img_0,img_1,img_2,img_3,os_id,os,`cpu`,gpu,ram
        FROM sb_product LEFT JOIN sb_product_specification
        ON sb_product.id=sb_product_specification.product_id
        WHERE sb_product.id=#{id}
    </select>

</mapper>